.calculator .container {
  display: flex;
  align-items: center;
}

.calculator .body {
  width: 400px;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator .screen {
  border: 1px solid #ddd;
  border-radius: 1px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
}
