<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<h1>Solid js examples</h1>
  <ul>
    {{#each htmlWebpackPlugin.options.apps}}
    <li>
      <a href="./{{this}}.html">{{this}}</a>
    </li>
  {{/each}}
  </ul>

</body>
</html>